# Write an SQL query to report the nth highest salary from the Employee table. If there is no nth highestsalary, the query should report null.

~~~sql
    SELECT DISTINCT Salary AS NthHighestSalary
    FROM Employee Emp1
    WHERE n = (
            SELECT COUNT(DISTINCT Salary)
            FROM Employee Emp2
            WHERE Emp2.Salary >= Emp1.Salary
                )
~~~

# Write an SQL query to rank the scores, The ranking should e calculated according to the following rules
> . The scores should be ranked from the highest to the lowest+
> . If there is a tie between two scores, both should have the same ranking+
> . After a tie, the next ranking number should be the next consecutive integer value, In other words, there should be no holes between ranks

~~~sql
SELECT score, DENSE_RANK() OVER (ORDER BY score DESC) AS ranking
FROM your_table_name;
~~~

# Write an SQL query to find all numbers that appear at least three times consecutively.

~~~sql
SELECT DISTINCT num
FROM (
    SELECT
        num,
        LEAD(num, 1) OVER (ORDER BY id) AS next_num,
        LEAD(num, 2) OVER (ORDER BY id) AS next_next_num
    FROM your_table_name
) AS consecutive_nums
WHERE num = next_num AND num = next_next_num;

# Write an SQL query to find the employees who earn more than their managers.

~~~sql
SELECT emp.*
FROM Employees emp
JOIN Employees mgr ON emp.ManagerId = mgr.EmployeeId
WHERE emp.Salary > mgr.Salary;
~~~

# Write an SQL query to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

~~~sql
    SELECT email, COUNT(*) AS duplicate_count
    FROM your_table_name
    GROUP BY email
    HAVING COUNT(*) > 1;
~~~

# Write an SQL query to report all customers who never order anything. using customer and orders table

~~~sql
SELECT customers.customer_id, customers.customer_name
FROM customers
LEFT JOIN orders ON customers.customer_id = orders.customer_id
WHERE orders.order_id IS NULL;
~~~

# Write an SQL query to find employees who have the highest salary in each of the department

~~~sql
WITH RankedEmployees AS (
  SELECT employee_id, employee_name, department_id, salary,
         ROW_NUMBER() OVER (PARTITION BY department_id ORDER BY salary DESC) AS salary_rank
  FROM employees
)

SELECT employee_id, employee_name, department_id, salary
FROM RankedEmployees
WHERE salary_rank = 1;
~~~

# Write an SQL query to delete all the duplicate emails, keeping only one unique email with the smallest id. Note that you are supposed to write a DELETE statement and not a SELECT one.

~~~sql
DELETE FROM your_table_name
WHERE id NOT IN (
  SELECT MIN(id)
  FROM your_table_name
  GROUP BY email
);
~~~

# Write an SQL query to find all dates' Id with higher temperatures compared to its previous dates (yesterday)

## S1
~~~sql
SELECT t1.id
FROM temperature_data t1
JOIN temperature_data t2 ON t1.date = DATE_SUB(t2.date, INTERVAL 1 DAY)
WHERE t1.temperature > t2.temperature;
~~~
## S2