# Write an SQL query to report the nth highest salary from the Employee table. If there is no nth highestsalary, the query should report null.

~~~sql
    SELECT DISTINCT Salary AS NthHighestSalary
    FROM Employee Emp1
    WHERE n = (
            SELECT COUNT(DISTINCT Salary)
            FROM Employee Emp2
            WHERE Emp2.Salary >= Emp1.Salary
                )
~~~